{"terminalId":"iGuard540","description":"My iGuardExpress 540 Machine","language":"en-us","dateTimeFormat":"dd/mm/yy","allowedOrigins":["one","two"],"cameraControl":{"enable":true,"resolution":3,"frameRate":1,"environment":0},"smartCardControl":{"isReadCardSNOnly":false,"acceptUnknownCard":false,"cardType":1,"acceptUnregisteredCard":false},"inOutControl":{"inOutStrategy":2,"isEnableFx":[true,false,true,false],"inOutTrigger":{"11:30":1,"12:30":0,"16:30":1,"7:00":0},"dailyResetAutoInOut":true,"dailyResetAutoInOutTime":"00:00"},"remoteDoorRelayControl":{"enabled":true,"id":123,"delayTimer":3000,"accessRight":0},"dailyReboot":{"enabled":true,"time":"02:00"},"timeSync":{"timeZone":"HK","timeServer":"time.google.com","isEnableSNTP":true,"isSyncMasterTime":true}}